<%= f = form_for :msg, "#", [phx_submit: :send_msg, autocomplete: :off] %>
  <%= label f, :username %>
  <%= text_input f, :username, value: @username %>

  <%= label f, :content %>
  <%= text_input f, :content %>
  
  <div>
    <%= submit "Send", phx_disable_with: "Loading..." %>
  </div>
</form>