<section id="messages">
  <h3>Last messages</h3>

  <ul id="messages">
	  <%= for message <- @messages do %>
		  <li>[<%= message.username %>] <%= message.datetime %> : <%= message.content %></li>
	  <% end %>
  </ul>

  <%= render "form.html", assigns %>
</section>